// ----------------------CARD
.card{

  box-sizing: border-box;
  width: 95%;
  min-height: 60px;
  background: #FFFFFF;
  // border-top: 0.2px solid #000;
  // border-bottom: 0.2px solid #000;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  transition: background 300ms;
  &__task{
    padding: 5px 13px  5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
  }
  &__task-header{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 3px;
  }
  &__task-descr{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8D8B8B;
  }
  &__time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 13px 5px 0;
  }
  &__time-line{
    margin: 0 7px;
    width: 15px;
    height: 1px;
    background-color: #000;
  }
}
