// ----------------------CARD
.card{

  box-sizing: border-box;
  width: 95%;
  min-height: 60px;
  background: #FFFFFF;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  transition: background 300ms;
  &__task{
    padding: 5px 13px  5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
  }
  &__task-header{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 3px;
  }
  &__task-descr{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8D8B8B;
  }
  &__time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 13px 5px 0;
  }
  &__time-line{
    margin: 0 7px;
    width: 15px;
    height: 1px;
    background-color: #000;
  }
}
// _-----------------EDIT
.window__header.edit-active,
.window__descr.edit-active{

background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(195,90,73,1) 32%);
  background-clip: text;
   -webkit-text-fill-color: transparent;
}


.card.edit-active{
  background-color: rgb(195, 80, 73)
}

.card-edit{
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  min-height: 60px;
  background: #FFFFFF;
  border-radius: 4px;
  padding-bottom: 10px;
  padding-top: 7px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  transition: all 300ms;
  &__task{
    padding: 5px 13px  5px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
&__input{
  background: #F3F3F3;
  border-radius: 5px;
  margin-bottom: 16px;
  height: 30px;
  width: 90%;
  border: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #8D8B8B;
  padding: 0 10px;
  box-sizing: border-box;

}
  &__time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 13px 5px 0;
  }
 &-time__input{
   width: 66px;
   height: 33px;
   background: #F3F3F3;
   border-radius: 5px;
   border-bottom: 1px solid #DCBB89;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 18px;
   color: #8D8B8B;
   border: none;
   padding: 0 10px;
 }
 &-time__line {
    margin: 10px 7px;
    width: 15px;
    height: 1px;
    background-color: #000;
  }
}
