.main{
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
// ------
.main__window{
  height: calc(100vh - 60px);
  width: calc(100vw - 65px);
  box-sizing: border-box;
  padding: 15px 0  0 15px;
}
.window{
  &__header{
    // box-sizing: border-box;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 5px;
    padding-right: 5px;

  }
  &__descr{
  box-sizing: border-box;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8D8B8B;
    padding-right: 5px;
    padding-bottom: 40px;

  }
  &__section{
    height: 391px;
    width: calc(100vw - 80px);
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
