
// ---------------------------------
.menu{
  position: relative;
  z-index: 5;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  &__date{
   color: #FFFFFF;
   font-style: normal;
   text-align: center;
   display: flex;
   justify-content: center;


  }
  &__items{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__items-inner{
    height: 37px;
    margin-left: 5px;
    width: 100%;
    background: #D7A861;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow-x: hidden;
    // padding: 0 3px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition:  all 300ms;
    position: relative;
    z-index: 10;
  }
  .tools{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    align-items: flex-end;
    transition: all 300ms;
    align-items: center;
    margin-right: 10px;

    &__item{
      display: flex;
      align-items: center;
      height: 35px;
      width: 35px;
      border-radius: 6px;
      background-color: #B96C2A;
      margin-left: 8px;
      transition: all 400ms;
    }
    &__item-img{
        width: 22px;
        height: 22px;
        margin: 0 auto;
    }
  }

  &__btn{
    height: 50px;
    width: 55px;
    padding: 5px;
    border: none;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    background-color: #494545;
    transition: padding 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    &-inner{
      min-height: 37px;
      min-width: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 4px solid #727272;
      box-sizing: border-box;
      position: relative;
    }
  }
}
.menu__btn-svg{
  width: 70%;
  height: 70%
}
.year{
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.day{
  margin-right: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.menu__btn.active{
  padding: 5px;
}
.tools.active{
 justify-content: center;
 background-color: #DC5644;
}
// ------------------Tools---------------

.tools-active{
  transform: translateY(0%);
  & .tools__inner{
     animation: UpDown 1s ;
  }
}




@keyframes UpDown {
 0% {
   transform: translateY(100%);
 }
 50% {
   transform: translateY(0%);
  }
  75% {
    transform: translateY(3%);
   }
 100% {
   transform: translateY(0%);
  }
}



#clear.active{
   animation: LowUpDown 0.3s ;

}
#edit.active{
   animation: LowUpDown 0.3s ;

}
#plus.active{
   animation: LowUpDown 0.3s ;

}
@keyframes LowUpDown {
 0% {
   transform: translateY(5px);
 }
 50% {
   transform: translateY(-7px);
  }
 100% {
   transform: translateY(0);
  }
}

// ----------------NOT MOBILE
// .tools__item:hover{
//   transform: scale(1.3);
//   padding-bottom: 10px;
// }
